services:

  csportfolioapi:
    image: mschleifer/csportfolioapi:0.0.10
    build:
      context: .
      dockerfile: CSPortfolioAPI/Dockerfile
    container_name: csportfolioapi
    ports:
      - "4000:8080"
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_HOST: ${DB_HOST}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      ConnectionStrings__DefaultConnection: ${CONNECTIONSTRINGS__DEFAULTCONNECTION}
      ConnectionStrings__MassTransitConnection: ${MASSTRANSITCONNECTIONSTRINGS__DEFAULTCONNECTION}
      RabbitMqConnectionSettings__Username: ${RABBITMQ_USER}
      RabbitMqConnectionSettings__Password: ${RABBITMQ_PASSWORD}
      Jwt__SecretKey: ${JWT_SECRET_KEY}
      Brevo__ApiKey: ${BREVO_API_KEY}
      DOTNET_ENVIRONMENT: Production
      ASPNETCORE_ENVIRONMENT: Production
    volumes:
      - ./CSPortfolioAPI/wwwroot/uploads:/app/wwwroot/uploads
    user: root
    restart: unless-stopped
    command: >
        sh -c "
        chown -R ${APP_UID}:${APP_UID} /app/wwwroot/uploads &&
        exec dotnet CSPortfolioAPI.dll
        "
    depends_on:
      cs-db:
        condition: service_healthy
        restart: true
      redis:
        condition: service_started
      masstransit-db:
        condition: service_started
      rabbitmq:
        condition: service_started
        
  csportfolio-web-app:
    image: mschleifer/csportfolio-web-app:0.0.6
    build:
      context: ./CSPortfolioWebApp   # subfolder is the build context
      dockerfile: Dockerfile         # Dockerfile inside subfolder
    container_name: csportfolio-web-app
    ports:
      - "4040:80"
    depends_on:
      csportfolioapi:
        condition: service_started
        restart: true
    restart: unless-stopped

  csitemimporter:
    image: mschleifer/csitemimporter:0.0.4
    container_name: csitemimporter
    build:
      context: .
      dockerfile: CSItemImporter/Dockerfile    
    environment:
      MassTransitConnectionStrings__DefaultConnection: ${MASSTRANSITCONNECTIONSTRINGS__DEFAULTCONNECTION}
    depends_on:
      csportfolioapi:
        condition: service_started
        
  cspriceupdater:
    image: mschleifer/cspriceupdater:0.0.6
    container_name: cspriceupdater
    build:
      context: .
      dockerfile: CSPriceUpdater/Dockerfile
    environment:
      MassTransitConnectionStrings__DefaultConnection: ${MASSTRANSITCONNECTIONSTRINGS__DEFAULTCONNECTION}
      RabbitMqConnectionSettings__Username: ${RABBITMQ_USER}
      RabbitMqConnectionSettings__Password: ${RABBITMQ_PASSWORD}
    depends_on:
      csportfolioapi:
        condition: service_started
        restart: true
    restart: unless-stopped
  
  cs-db:
    image: timescale/timescaledb:latest-pg16
    container_name: csportfolio-db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U csapi -d csportfolio" ]
      interval: 5s
      retries: 5
      start_period: 30s
      timeout: 5s
    restart: always
      
  redis:
    image: redis
    restart: unless-stopped
    
  rabbitmq:
    image: rabbitmq:4.1-management
    container_name: rabbitmq-cs
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    healthcheck:
      test: [ "CMD", "rabbitmqctl", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - masstransit-db
    command: >
      bash -c "rabbitmq-plugins enable rabbitmq_shovel rabbitmq_shovel_management &&
      rabbitmq-server"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    restart: unless-stopped

  masstransit-db:
    container_name: masstransit-db-cs
    image: postgres:17.4-alpine3.21
    restart: always
    volumes:
      - masstransit_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${MASSTRANSIT_DB_USER}
      - POSTGRES_PASSWORD=${MASSTRANSIT_DB_PASSWORD}
      - POSTGRES_DB=${MASSTRANSIT_DB_NAME}
      - POSTGRES_INITDB_ARGS="--encoding=UTF8"
    ports:
      - "45432:5432"
        
  # ---------------------------
  # Nginx (HTTPS, self-signed for LAN)
  # ---------------------------
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/cert:/etc/nginx/cert:ro
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - csportfolio-web-app
      - csportfolioapi
    restart: unless-stopped
  #endregion

#region Volumes
volumes:
  db_data:
  masstransit_data:
  rabbitmq-data:
  profile-images:
#endregion